
<div id="cart" class="clearfix">
            <div class="heading media">
                <div class="cart-inner media-body">
                    <span class="icon-cart"></span>
                    <h4>Giỏ Hàng</h4>
                    <a><span id="cart-total">0 Sản phẩm - 0 VNĐ</span></a>
                </div>
            </div>

            <div class="content">
                <div class="mini-cart-info">
                        <table id="cart-infomation">
                            
                        </table>
                </div>


                <div class="mini-cart-total">
                    <table>
                        <tr>
                            <td class="right"><b>Thành tiền:</b></td>
                            <td class="right"><span id="mini-cart-total"></span></td>
                        </tr>
                        <tr>
                            <td class="right"><b>Tổng cộng: </b></td>
                            <td class="right"><span id="mini-cart-total-bot"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="checkout">
                    <a href="" class="button btn btn-theme-default">Xem giỏ hàng</a>
                    <a href="" class="button btn btn-theme-default">Thanh toán</a>
                </div>
            </div>
        </div>
@*else
    {
        <div id="cart" class="clearfix">
            <div class="heading media">
                <div class="cart-inner media-body">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <h4>Giỏ Hàng</h4>
                    <a><span id="cart-total">0 sản phẩm - 0 vnđ</span></a>
                </div>
            </div>
            <div class="content">
                <div class="empty">Giỏ hàng đang trống!</div>
            </div>
        </div>
    }*@
